body {
    position: relative;
    height: 100vh;
    margin: 0px;
}

div {
    width: 1020px;
    height: 620px;
    border: solid 10px black;
    color: white;
    display: inline-block;
}

span {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: black;
    color: white;
    text-align: center;
    line-height: 40px;
    display: block;
    font-size: 2em;
    position: absolute;
    left: 50px;
    top: 50px;
}

a {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background: red;
    position: absolute;
    left: 500px;
    top: 300px;
}

h1 {
    display: inline-block;
    margin-left: 20px;
}

section {
    border: dotted 10px darkred;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: darkred;
    position: absolute;
}