@import url('https://fonts.googleapis.com/css?family=Candal|Indie+Flower|Roboto');
body {
    display: flex;
    min-height: 100vh;
    margin: 0px;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    background: grey;
    align-items: center;
    opacity: 0.5;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

footer {}

h1 {
    font-size: 4.5em;
    font-family: 'Candal', sans-serif;
    letter-spacing: 0.3em;
    margin: 0px;
}

img {
    height: 7em;
    margin: 10px;
}

ul {
    min-width: 600px;
    padding: 0;
    margin: 0;
}

li {
    font-family: 'Indie Flower', cursive;
    list-style: none;
    display: flex;
    font-size: 2em;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: lightgoldenrodyellow;
    margin: 10px;
    padding: 5px;
    box-shadow: 1px 1px 4px lightslategray;
}

p {
    margin: 0;
    margin-top: 5px;
    flex-grow: 1;
    vertical-align: middle;
}