body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    background: lightslategray;
    box-shadow: 0px 1px 5px grey;
}

header img {
    height: 50px;
    margin: 10px;
}